image: node:22

pipelines:
  default:
    - step:
        name: Build
        caches:
          - node
        script:
          - npm ci
    - parallel:
        - step:
            name: Test
            caches:
              - node
            script:
              - npm test
        - step:
            name: Lint
            caches:
              - node
            script:
              - npm run lint
        - step:
            name: Type Check
            caches:
              - node
            script:
              - npm run type-check
